@import url("http://fonts.cdnfonts.com/css/helvetica-neue-lt-std-55");
@import url("//db.onlinewebfonts.com/c/eb92b08f7e042d8413e6bc061d7058af?family=Miracle");
:root {
  --color-white: #fffcf6;
  --color-yellow: #fcd043;
  --color-green: #313f38;
  --font-headers: "Helvetica Neue LT Std";
  --font-hero: "Miracle", sans serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


